.cardTitle {
  color: rgb(13, 185, 139);
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
}

.challengeCard {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color: white;
  box-shadow: 2px 4px 6px rgb(172, 171, 171);
  overflow: hidden;
}

.challengeCard > img {
  flex: 1;
}

.content {
  flex: 2;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.challengeInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill {
  text-transform: uppercase;
  font-weight: 600;
}

.html {
  margin-right: 1rem;
  color: #6abecd;
}

.css {
  margin-right: 1rem;
  color: #3e54a3;
}

.js {
  color: #cf6390;
}

.difficulty {
  display: flex;
  align-items: center;
  border: currentColor 1px solid;
  border-radius: 5px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
  overflow: hidden;
}

.difficulty div {
  padding: 0 0.45rem;
}

.difficultyNumber {
  background-color: currentColor;
}

.difficulty span {
  color: white;
}

.newbie {
  color: #6abecd;
}

.junior {
  color: #aad742;
}

.intermediate {
  color: #f1b504;
}

.challengeCard p {
  font-size: 0.9rem;
}

.linkText {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  margin-top: auto;
  padding: 0 1rem 1rem 1rem;
}

.link {
  display: flex;
  align-items: center;
  gap: 0.3rem;
  color: #c71630;
  text-decoration: underline;
}

.link:hover {
  color: #ed2c49;
}

@media (max-width: 508px) {
  .skill,
  .difficulty,
  .linkText {
    font-size: 0.8rem;
  }

  .html,
  .css {
    margin-right: 0.5rem;
  }
}
