.actingBody {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);

  --fs-default: 15px;

  --gutterX: 1.5rem;
  --gutterY: 6rem;

  font-size: var(--fs-default);
}

.actingBody li {
  position: relative;
}

.actingBody li:hover,
.socials div:hover {
  cursor: pointer;
}

.actingBody li:hover::after,
.socials div:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 2px;
  background-color: white;
}

.socials div:hover::after {
  content: "";
  position: absolute;
  bottom: -10px;
  width: 100%;
  height: 2px;
  background-color: white;
}

.actingBody h2 {
  font-size: 2rem;
  text-transform: uppercase;
  text-align: center;
  line-height: 1;
}

@media (min-width: 600px) {
  .actingBody {
    --gutterX: 11rem;
    --gutterY: 11rem;
  }

  .actingBody h2 {
    font-size: 3rem;
    text-align: left;
  }
}

/* HEADER */

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("./images/mobile/image-hero.jpg");
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover;
  position: relative;
}

.navbar {
  position: absolute;
  top: 2.5rem;
  left: var(--gutterX);
  width: calc(100% - 3rem);
  height: 32px;
}

.mobileNavToggle,
.navbar img {
  position: absolute;
  z-index: 10;
}

.navbar img {
  left: 0;
}

.mobileNavToggle {
  right: 0;
  width: 24px;
  height: 16px;
  background-image: url("./images/icon-hamburger.svg");
}

.mobileNavToggle[aria-expanded="true"] {
  width: 20px;
  height: 20px;
  background-image: url("./images/icon-close.svg");
}

.navItems {
  position: fixed;
  inset: 0 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding-left: var(--gutterX);
  background-color: var(--black);
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;

  transform: translateX(100%);
  transition: transform 350ms ease-out;
}

.navItems[data-visible="true"] {
  transform: translateX(0%);
}

.header h1 {
  margin: 0 var(--gutterX);
  padding: 1.5rem;
  border: 2px solid var(--white);
  color: var(--white);
  font-size: 2.5rem;
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 600px) {
  .header {
    display: block;
    height: 650px;
    background-image: url("./images/desktop/image-hero.jpg");
  }

  .navbar {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 var(--gutterX) 9rem var(--gutterX);
    padding-top: 5rem;
    width: auto;
  }

  .mobileNavToggle {
    display: none;
  }

  .mobileNavToggle,
  .navbar img {
    position: static;
  }

  .navItems {
    position: static;
    flex-direction: row;
    gap: 2rem;
    background-color: transparent;
    transform: translateX(0%);
    font-size: var(--fs-default);
    font-family: var(--font-alata);
    text-transform: capitalize;
  }

  .header h1 {
    padding: 2.5rem;
    width: 46%;
    font-size: 4.5rem;
  }
}

/* ABOUT SECTION */

.about {
  margin: var(--gutterY) var(--gutterX);
}

.aboutText {
  margin-top: 2.5rem;
  padding: 0 1.5rem;
  text-align: center;
}

.aboutText p {
  margin-top: 1rem;
  color: var(--dark-gray);
}

@media (min-width: 600px) {
  .about {
    display: flex;
  }

  .about img {
    min-width: 655px;
  }

  .aboutText {
    margin: auto 0 -2px -9.5rem;
    padding: 5.5rem 0 0 5.5rem;
    background-color: var(--white);
  }

  .aboutText p {
    text-align: left;
  }
}

/* CREATIONS SECTION */

.creationsSection {
  margin: var(--gutterY) var(--gutterX);
}

.creations {
  display: flex;
  flex-direction: column;
  margin-top: 3rem;
  gap: var(--gutterX);
}

.creations article {
  padding: 3.25rem 0 0 1rem;
  min-height: 120px;
  color: var(--white);
  font-size: 1.5rem;
  text-transform: uppercase;
  line-height: 1;
  white-space: pre-line;
}

.responsiveBg {
  background: var(--mobile-bg);
}

.seeAll {
  display: block;
  margin: 2.5rem auto 0 auto;
  padding: 0.5rem 2.5rem;
  border: 1px solid var(--black);
  text-transform: uppercase;
  letter-spacing: 0.25rem;
}

.seeAll:hover,
.seeAll:focus {
  background-color: var(--black);
  color: var(--white);
}

@media (min-width: 600px) {
  .creationsSection {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .creationsSection h2 {
    grid-column: 1;
  }

  .creations {
    grid-column: 1 / 3;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
    padding: 0;
  }

  .creations article {
    padding-top: 22rem;
    padding-left: 2.5rem;
    width: 256px;
    height: 450px;
    font-size: 2rem;
  }

  .responsiveBg {
    background: var(--desktop-bg);
  }

  .seeAll {
    grid-column: 2;
    grid-row: 1;
    margin: 0;
    margin-left: auto;
  }
}

/* FOOTER */

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 4rem 2rem;
  background-color: var(--black);
  color: var(--white);
  text-align: center;
}

.footerLeftAndTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.5rem;
}

.footerLinks {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: fit-content;
}

.footerRightAndBottom {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.socials {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

@media (min-width: 600px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem var(--gutterX);
  }

  .footerLinks {
    flex-direction: row;
  }

  .socials {
    justify-content: end;
  }

  .footerLeftAndTop {
    align-items: flex-start;
  }

  .footerRightAndBottom {
    gap: 2.5rem;
    color: var(--dark-gray);
  }
}
