@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  height: 100%;
}

body {
  height: 100%;
}

main {
  height: 100%;
}

.back {
  padding: 0.5rem 1rem;
  border: 2px solid rgb(114, 110, 110);
  border-radius: 100vw;
  transition: background-color 200ms;
}

.back:hover {
  background-color: rgb(114, 110, 110);
  color: white;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
