.title {
  margin-top: 1rem;
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
}

.homepageDescription {
  margin-top: 3rem;
  font-weight: 600;
  text-align: center;
}

.links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.5rem;
  margin: 3rem auto;
  width: 90%;
}

@media (max-width: 1255px) {
  .links {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 750px) {
  .links {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 508px) {
  .title {
    font-size: 2.5rem;
  }
}
